{% set repo_url = "https://github.com/barnoy1/nn_framework" %}
{% for entry in tree %}

{% if entry.version == "Unreleased" %}
## Unreleased{% if loop.nextitem %} ([diff]({{ repo_url }}/compare/{{ loop.nextitem.version }}...HEAD)){% endif %}
{% else %}
## [{{ entry.version }}]({{ repo_url }}/releases/tag/{{ entry.version }}){% if entry.date %} ({{ entry.date }}){% endif %}{% if loop.nextitem and loop.nextitem.version != "Unreleased" %} ([diff]({{ repo_url }}/compare/{{ loop.nextitem.version }}...{{ entry.version }})){% endif %}
{% endif %}

{% for change_key, changes in entry.changes.items() %}

{% if change_key %}
### {{ change_key }}
{% endif %}

{% for change in changes %}
{% if change.scope %}
- **{{ change.scope }}**: {{ change.message }}
{% elif change.message %}
- {{ change.message }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
