debugpy
requests
pycocotools
torch>=2.2.0
torchvision>=0.14.0
scipy
tqdm
transformers>4.0.0,<5.0.0
peft
rf100vl
pydantic
supervision
matplotlib
albumentations>=1.0.0,<2.0.0
lightning>=2.6,<3
torchmetrics[detection]>=1.2
faster-coco-eval>=1.7.2
pyDeprecate>=0.3,<1
